footer {
	background-color: black;
	background-image: url('../images/greebling.png'), linear-gradient(#300000, #200000);
	border: solid 4px var(--item-border);
	border-bottom: none;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	bottom: 0;
	left: 20px;
	padding: 10px 20px;
	position: fixed;
	right: 20px;
}

footer div {
	background-color: #181008;
	background-image: linear-gradient(#0c0804, #181008);
	border: solid 1px #403810;
	border-radius: 4px;
	color: #c0a040;
	font-family: monospace;
	max-height: 100px;
	overflow-y: auto;
	padding: 4px 8px;
	width: 100%;
}

input[type='checkbox'] {
	visibility: hidden;
}

input[type='checkbox']::before {
	align-items: center;
	background-color: #300000;
	background-image: url('../images/greebling.png');
	border: solid 2px var(--item-border);
	border-radius: 50%;
	color: rgba(0, 0, 0, 0.75);
	content: '';
	cursor: pointer;
	display: flex;
	font-family: sans-serif;
	font-size: 20px;
	font-weight: bold;
	height: 16px;
	justify-content: center;
	overflow: hidden;
	position: relative;
	top: -5px;
	visibility: visible;
	width: 16px;
}

input[type='checkbox']:checked::before {
	background-color: var(--interactive-highlight);
	background-image: none;
	border-color: var(--interactive-dull);
	content: 'â—';
}

#characterSheet {
	padding: 20px 10px;
}

#sheetHeader {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#vitalInfo {
	align-items: baseline;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

#vitalInfo > * {
	margin-bottom: 10px;
}

#vitalInfo > *:not(:first-child) {
	border-left: solid 1px var(--item-border);
	margin-left: 20px;
	padding-left: 20px;
}

#charName, #charName input {
	font-size: 20px;
}

#rollInfo {
	color: #908080;
	font-size: 0.95em;
	font-style: italic;
}

#charControls {
	margin-bottom: 20px;
}

#charControls * + * {
	margin-left: 8px;
}

#characterSheet .subsection > div {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 10px;
	padding: 2px 0px 0px 2px;
}

#characterSheet .subsection > div > div {
	align-items: center;
	border: solid 2px var(--item-border);
	display: flex;
	margin: -2px 0px 0px -2px;
	padding: 4px 8px;
	width: 400px;
}

#characterSheet .subsection > div > div > div {
	cursor: default;
}

#characterSheet .subsection > div > div > * + * {
	margin-left: 16px;
}

.restrictFU {
	color: #c0c0ff;
}

.restrictNFU {
	color: #ffe0c0;
}

#characterSheet .deactivated {
	color: #808080;
}

#characterSheet .deactivated input[type='checkbox']:not(:checked) {
	pointer-events: none;
}

#characterSheet .deactivated input[type='checkbox']:not(:checked)::before {
	display: none;
}

#errorModal, #linkModal {
	width: 400px;
}

#linkModal textarea {
	height: 100px;
	width: 100%;
}