footer {
	background-color: black;
	background-image: url('../images/greebling.png'), linear-gradient(#300000, #200000);
	border-top: solid 4px var(--item-border);
	bottom: 0;
	left: 0px;
	padding: 10px 36px;
	position: fixed;
	right: 0px;
}

footer > div {
	background-color: #181008;
	background-image: linear-gradient(#0c0804, #181008);
	border: solid 1px #403810;
	border-radius: 4px;
	color: #c0a040;
	display: flex;
	flex-direction: column;
	font-family: monospace;
	max-height: 100px;
	overflow-y: auto;
	padding: 4px 8px;
	width: 100%;
}

footer div > b:first-child {
	color: var(--text);
}

footer > div > * + * {
	margin-top: 6px;
}

input[type='checkbox'] {
	visibility: hidden;
}

input[type='checkbox']::before {
	align-items: center;
	background-attachment: fixed;
	background-color: #300000;
	background-image: url('../images/greebling.png');
	border: solid 2px var(--item-border);
	border-radius: 50%;
	color: white;
	content: '';
	cursor: pointer;
	display: flex;
	font-family: sans-serif;
	font-weight: bold;
	height: 16px;
	justify-content: center;
	overflow: hidden;
	position: relative;
	text-shadow: 0px 0px 5px white;
	top: -5px;
	visibility: visible;
	width: 16px;
}

input[type='checkbox']:checked::before {
	background-color: var(--interactive-highlight);
	background-image: none;
	border-color: var(--interactive-dull);
	content: 'â—';
}

#sheetInfo {
	text-align: center;
}

#sheetInfo > h2 {
	font-size: 18px;
}

#characterSheet {
	padding: 20px 10px;
}

#sheetHeader {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#sheetHeader.display {
	justify-content: center;
}

#vitalInfo {
	align-items: baseline;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

#vitalInfo > * {
	margin-bottom: 10px;
}

#vitalInfo > *:not(:first-child) {
	border-left: solid 1px var(--item-border);
	margin-left: 20px;
	padding-left: 20px;
}

#charName, #charName input {
	font-size: 20px;
}

#rollInfo {
	color: #908080;
	cursor: default;
	font-size: 0.95em;
	font-style: italic;
}

#charControls {
	margin-bottom: 20px;
}

#charControls * + * {
	margin-left: 8px;
}

#characterSheet .subsection > h2 > span {
	color: #c0c0c0;
	font-weight: normal;
}

#characterSheet .subsection > div {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 10px;
	padding: 2px 0px 0px 2px;
}

#characterSheet .subsection > div > div {
	align-items: center;
	border: solid 2px var(--item-border);
	display: flex;
	margin: -2px 0px 0px -2px;
	padding: 4px 8px;
	width: 360px;
}

#characterSheet .subsection > div > div > div {
	cursor: default;
}

#characterSheet .subsection > div > div > * + * {
	margin-left: 16px;
}

#characterSheet ul {
	display: flex;
	flex-wrap: wrap;
}

#characterSheet ul > li {
	cursor: pointer;
	margin-left: 20px;
	width: 360px;
}

.restrictFU {
	color: #c0c0ff;
}

.restrictNFU {
	color: #ffe0c0;
}

#characterSheet .invalid {
	color: #808080;
}

.restrictFU.invalid {
	color: #787890 !important;
}

.restrictNFU.invalid {
	color: #908070 !important;
}

#characterSheet .invalid input[type='checkbox']:not(:checked) {
	pointer-events: none;
}

#characterSheet .invalid input[type='checkbox']:not(:checked)::before {
	display: none;
}

#errorModal, #linkModal {
	width: 400px;
}

#linkModal textarea {
	height: 100px;
	width: 100%;
}

.subsection.artifacts {
	position: relative;
}

.subsection > .artifacts {
	background-color: #080000;
	background-image: linear-gradient(black, #100000);
	border: solid 2px #200000;
	border-radius: 4px;
	flex-direction: column;
	margin-bottom: 0 !important;
	padding: 8px !important;
}

.subsection > .artifacts * + * {
	margin-top: 12px;
}

.subsection.artifacts .counter {
	color: gray;
	position: absolute;
	right: 16px;
	top: 12px;
}

.subsection.artifacts textarea {
	height: 400px;
	width: 100%;
}