* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: black;
	color: white;
	font-family: sans-serif;
	padding: 20px 20px 8px 20px;
	margin: 0;
}

a:link {
	color: #c0a040;
}

a:link:hover, a:visited:hover {
	color: #ffe080;
}

a:visited {
	color: #a09040;
}

button {
	align-items: center;
	background-color: #c0a040;
	border: solid 3px #ffe080;
	border-radius: 8px;
	color: white;
	cursor: pointer;
	display: inline-flex;
	font-weight: bold;
	height: 30px;
	justify-content: center;
	padding: 6px 12px;
	text-shadow: 0px 0px 5px #ffe080;
}

button:not([disabled]):hover {
	background-color: #c8a848;
	text-shadow: 0px 0px 10px white;
}

button[disabled] {
	background-color: #a09040;
	border-color: #c0a040;
	color: #a09040;
	cursor: default;
}

.buttonSmall {
	border-width: 2px;
	height: initial;
	padding: 2px 4px;
}

footer {
	color: #404040;
	font-size: 14px;
	margin: 8px 16px 0 auto;
	text-align: right;
	width: fit-content;
}

footer > aside {
	display: inline-block;
	opacity: 0;
	transition: opacity 0.25s;
}

footer:hover > aside {
	opacity: 1;
}

h1, h2, h3, h4, h5 {
	margin: 0px 0px 8px 0px;
	padding: 0;
}

h1 {
	margin-top: -10px;
	text-align: center;
	text-shadow: 0px 0px 5px #800000;
}

h1::before, h1::after {
	background-image: url('../images/IE_star_white.png');
	background-size: cover;
	content: '';
	display: inline-block;
	height: 40px;
	margin: 0 8px;
	position: relative;
	top: 8px;
	width: 40px;
}

li {
	margin-left: 24px;
}

section {
	border: solid 4px #600000;
	border-radius: 8px;
	background-color: #400000;
	background-image: url('../images/greebling.png'), linear-gradient(#400000, #400000, #300000);
	position: relative;
	width: 100%;
}

section + section {
	margin-top: 20px;
}

textarea {
	background-color: #181008;
	/*background-image: linear-gradient(#0c0804, #181008);*/
	background-image: url('../images/greeblingText.png'), linear-gradient(#0c0804, #181008, #181008);
	border: solid 1px #403810;
	border-radius: 4px;
	color: #c0a040;
	padding: 4px 8px;
	resize: none;
}

#textSection {
	display: flex;
	height: 400px;
	justify-content: center;
}

#input, #output {
	display: flex;
	flex-direction: column;
	margin: 20px;
	width: 100%;
}

#input textarea, #output textarea {
	height: 100%;
	width: 100%;
}

#output > *:nth-child(2) {
	flex-basis: 100%;
}

#output > *:last-child {
	align-items: center;
	display: flex;
	justify-content: center;
	padding-top: 20px;
}

#output > *:last-child > * {
	margin: 0 20px;
}

#notesSection > * + *, #cheatsheets > * + * {
	margin-top: 0px;
}

#notesSection h2, #cheatsheets h2 {
	text-align: center;
}

#textSection > h2, #notesSection > *:not(.closeButton), #cheatsheets > *:not(.closeButton) {
	margin: 10px;
}

#notesSection {
	display: flex;
	flex-direction: column;
}

#notesSection textarea {
	height: 300px;
}

#quickRef {
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
}

#quickRef > * {
	margin: 0 20px 20px 0;
}

#quickRef h3 {
	margin-left: 4px;
}

#rankTable {
	background-image: url('../images/greebling.png'), linear-gradient(#400000, #400000, #300000);
	border: solid 1px #200000;
	display: grid;
	grid-template-columns: auto repeat(3, min-content);
	width: 600px;
}

#rankTable > div {
	border: solid 1px #200000;
	padding: 2px 8px;
	white-space: nowrap;
}

#rankTable > div:first-child, #rankTable > div:nth-child(2), #rankTable > div:nth-child(3), #rankTable > div:nth-child(4) {
	background-color: #300000;
	font-weight: bold;
	padding-top: 4px;
}

#sithCode {
	background-image: url('../images/greebling.png'), linear-gradient(#400000, #400000, #300000);
	border: solid 2px #200000;
	border-radius: 4px;
	padding: 4px 8px;
}

#sithCode p {
	font-style: italic;
	padding: 4px 8px;
}

#guildDocs {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 32px;
	padding: 0 20px;
}

#guildDocs *[subItem]::before {
	content: '- ';
}

#guildDocs *[subItem] {
	display: block;
}

#guildDocs > h4 {
	margin: 12px 0px 4px 8px;
}

#emoteTable {
	align-items: start;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	max-height: 1600px;
	width: 100%;
	margin-top: 8px;
	min-height: 100px;
}

#emoteDisplay[hideFree="1"] #emoteTable,
#emoteDisplay[hideSub="1"] #emoteTable,
#emoteDisplay[hideMarket="1"] #emoteTable,
#emoteDisplay[hideUnlocked="1"] #emoteTable {
	max-height: 1600px;
}

#emoteDisplay[hideFree="2"] #emoteTable,
#emoteDisplay[hideSub="2"] #emoteTable,
#emoteDisplay[hideMarket="2"] #emoteTable,
#emoteDisplay[hideUnlocked="2"] #emoteTable {
	max-height: 1200px;
}

#emoteDisplay[hideFree="3"] #emoteTable,
#emoteDisplay[hideSub="3"] #emoteTable,
#emoteDisplay[hideMarket="3"] #emoteTable,
#emoteDisplay[hideUnlocked="3"] #emoteTable {
	max-height: 600px;
}

#emoteTable > div {
	display: flex;
	justify-content: stretch;
	margin-top: -2px;
	padding: 0;
	width: 320px;
}

#emoteTable > div > div {
	flex-basis: 70%;
	padding: 2px 8px;
	width: 60%;
}

#emoteTable > div > div:not(:last-child) {
	flex-basis: 30%;
	border-right: solid 1px #200000;
}

#emoteTable h4 {
	position: relative;
	top: 4px;
}

.closeButton {
	position: absolute;
	right: 8px;
	top: 8px;
}

.closeButton button {
	background-color: #600000;
	border-color: #800000;
	height: 16px;
	padding-top: 0px;
	width: 16px;
}

.closeButton button:not(disabled):hover {
	background-color: #800000;
}

.emoteFree {
	background-color: #0c1808;
	border: solid 2px #200000;
	padding: 2px 8px;
}

.emoteSub {
	background-color: #280000;
	border: solid 2px #200000;
	padding: 2px 8px;
}

.emoteMarket {
	background-color: #281808;
	border: solid 2px #200000;
	padding: 2px 8px;
}

.emoteUnlocked {
	background-color: black;
	border: solid 2px #200000;
	padding: 2px 8px;
}

#btnEmoteFree,
#btnEmoteSub,
#btnEmoteMarket,
#btnEmoteUnlocked {
	border-radius: 2px;
	cursor: pointer;
	min-width: 140px;
	text-align: center;
}

#btnEmoteFree:hover,
#btnEmoteSub:hover,
#btnEmoteMarket:hover,
#btnEmoteUnlocked:hover {
	font-weight: bold;
}

.flexMe {
	align-items: center;
	display: flex;
}

.flexMe * + * {
	margin-left: 4px;
}

.showClosed {
	display: none;
}

.subsection {
	background: linear-gradient(#400000, #400000, #3c0000);
	background-color: #400000;
	background-image: url('../images/greebling.png'), linear-gradient(#400000, #400000, #300000);
	border: solid 2px #200000;
	border-radius: 4px;
	padding: 8px;
	position: relative;
}

.subsection + .subsection {
	margin-top: 20px !important;
}

.subsection:last-child {
	background: linear-gradient(#400000, #400000, #380000);
}

#emoteDisplay[hideFree] .emoteFree,
#emoteDisplay[hideSub] .emoteSub,
#emoteDisplay[hideMarket] .emoteMarket,
#emoteDisplay[hideUnlocked] .emoteUnlocked {
	color: gray;
}

#emoteDisplay[hideFree] #emoteTable .emoteFree,
#emoteDisplay[hideSub] #emoteTable .emoteSub,
#emoteDisplay[hideMarket] #emoteTable .emoteMarket,
#emoteDisplay[hideUnlocked] #emoteTable .emoteUnlocked {
	display: none;
}

/* IMPORTANT - Needs to be at the bottom to override everything else! */
.closed {
	height: auto !important;
}
.closed * {
	display: none !important;
}

.closed > h2, .closed > h3, .closed > .closeButton, .closed > .showClosed {
	display: block !important;
}

.closed > .closeButton > button {
	display: inline-flex !important;
	padding-top: 3px;
}

@media screen and (max-width: 1700px) {
	#emoteTable {
		height: 2000px;
	}
}

@media screen and (max-width: 1360px) {
	#emoteTable {
		height: 2600px;
	}
}

@media screen and (max-width: 1060px) {
	#emoteTable {
		height: 4000px;
	}
}

@media screen and (max-width: 1000px) {
	#guildDocs {
		height: 560px;
	}
}

@media screen and (max-width: 780px) {
	#guildDocs {
		height: auto;
	}

	#emoteTable {
		height: auto;
	}
}